<div class="flex flex-col">
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input type="password" name="password">

        <input class="bg-red-400" type="submit">

    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <div>
        <a class="bg-sky-300" href="/api/sessions/github"><button>Iniciar sesión con GitHub</button></a>
    </div>
    <div>
        <a class="bg-green-300" href="/reset-password"><button>Recuperar contraseña</button></a>
    </div>
</div>

<script src="/js/login.js"></script>