<div class="flex flex-col">
    <h1>Profile</h1>
    <p class="flex">Nombre: {{user.name}}</p>
    <p class="flex">Email: {{user.email}}</p>
    <p class="flex">Edad: {{user.age}}</p>
    <p class="flex">Rol: {{user.rol}}</p>
</div>