<div class="flex flex-col">
    <h1>Register</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="firstName">
        <br />
        <label>Apellido</label>
        <input name="lastName">
        <br />
        <label>Email</label>
        <input name="email">
        <br />
        <label>Edad</label>
        <input name="age">
        <br />
        <label>Contraseña</label>
        <input type="password" name="password">
        <input class="bg-red-400" type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>