<div class="flex flex-col">
    <h1>Recuperar contraseña</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email">
        <input class="bg-red-400" type="submit">
    </form>
</div>

<script src="/js/resetPassword.js"></script>